ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --color: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
}

ion-item {
  --border-color: var(--ion-color-secondary);
}

ion-list {
  background-color: var(--ion-color-secondary);
  padding-top: 0%;
  padding-bottom: 1px;
}

.border{
  border-color: var(--ion-color-primary);
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
}